<div class="w-full min-h-screen flex items-center justify-center">
    <div class="w-96 h-auto p-3 rounded-lg border border-gray-300 bg-zinc-50 flex flex-col items-start justify-start">
        <h1 class="text-xl font-semibold">Welcome back!</h1>
        <p class="text-sm text-gray-600 font-medium">Login to access your account</p>
        <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)"
            class="w-full h-auto flex items-start justify-start flex-col gap-3 mt-4" action="">
            <div class="w-full h-auto flex flex-col items-start justify-start">
                <label for="email" class="text-lg text-gray-500">Email: <span class="text-red-500">*</span></label>
                <input id="email" name="email" #name="ngModel" required [(ngModel)]="model.email" type="email"
                    placeholder="Enter your email"
                    class="mt-1 px-2 block w-full h-10 border rounded border-gray-300 shadow-sm focus:ring-black focus:border-black outline-none" />
                <p *ngIf="name.invalid && name.touched" class="text-red-500 text-sm mt-1">
                    email is required.
                </p>
            </div>
            <div class="w-full h-auto flex flex-col items-start justify-start">
                <label for="password" class="text-lg text-gray-500">Password: <span
                        class="text-red-500">*</span></label>
                <input id="password" name="password" #name="ngModel" required [(ngModel)]="model.password"
                    type="password" placeholder="Enter your password"
                    class="mt-1 px-2 block w-full h-10 border rounded border-gray-300 shadow-sm focus:ring-black focus:border-black outline-none" />
                <p *ngIf="name.invalid && name.touched" class="text-red-500 text-sm mt-1">
                    password is required.
                </p>
            </div>
            <button type="submit"
                class="w-full h-10 rounded-md text-white text-lg font-medium bg-blue-400 hover:bg-blue-500 mt-2">Submit</button>
        </form>
        <button class="w-full h-auto text-sm font-medium text-gray-700 mt-1 flex items-center justify-end">
            forgot password!
        </button>
        <button class="w-full h-auto text-sm font-medium text-gray-700 mt-4 flex items-center justify-center">
            Don't have an account? SignUp
        </button>
    </div>
</div>