<nav class="w-full h-16 bg-zinc-100 flex items-center justify-between px-6">
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="text-2xl font-sans font-semibold cursor-pointer no-underline text-black">Angular App</a>
    <div class="flex items-center justify-center gap-3">
        <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="no-underline text-lg font-semibold text-gray-400 hover:text-blue-400 cursor-pointer">Admin</a>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="no-underline text-lg font-semibold text-gray-400 hover:text-blue-400 cursor-pointer">Home</a>
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="no-underline text-lg font-semibold text-gray-400 hover:text-blue-400 cursor-pointer">About</a>
    </div>
</nav>